body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.container {
  position: relative;
  max-width: 932px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding: 0px 20px 50px 20px;
}

.brand {
  font-size: 2rem;
  color: #8aa2d3;
}


a {
  color: #8aa2d3;
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  border-bottom: 2px solid #8aa2d3;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
}

header ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
header ul li {
  flex: 0 0 auto;
  margin-right: 1rem;
}

header ul li.brand {
  margin-right: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #999;
}

/* Post list on front page */
article {
  margin-bottom: 2rem;
}

article > h3 {
  font-size: 1.3rem;
}

/* TableOfContents */
aside.toc {

}

/* Post metadata */
h3.post-title {
  margin-bottom: 0.7rem;
}

.post-meta {
  font-size: 1rem;
  color: #666;
}

.tag {
  color: #8F82BC;
}

/* Post Content */

blockquote {
  padding: 0 1rem;
  color: #6a737d;
  /* border-left: 0.25rem solid #dfe2e5; */
  border-left: 0.25rem solid #8aa2d3;
}

/* Code fragments */
.highlight {
  border: 1px solid #ccc;
  padding: 15px;
}

/* Scroll to top button for desktop */
.scrollTop {
    cursor: pointer;
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
    bottom: 1rem;
    color: #8aa2d3;
    background-color: #dddddd;
    border-radius: 100%;
    /* line-height: 2.5rem; */
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.scrollTop > i {
  font-size: 1.5rem;
  line-height: inherit;
}

footer {
  /* text-align: left; */
  color: #dfdfdf;
}
