<header>
	<nav>
		<ul class="main">
			<li class="brand"><a href="https://blog.medgelabs.io">{{ .Site.Title }}</a></li>
			{{ if .RSSLink }}
			<li>
				<a href="{{ .RSSLink }}" target="_blank">
          {{ partial "icons/rss.html" . }}
        </a>
			</li>
			{{ end }}
			<li>
        <a href="https://github.com/{{ .Site.Author.github }}" target="_blank">
          {{ partial "icons/github.html" . }}
        </a>
			</li>
			<li>
        <a href="https://stackoverflow.com/users/{{ .Site.Author.stackoverflow }}" target="_blank">
          {{ partial "icons/stackoverflow.html" . }}
        </a>
			</li>
			<li>
        <a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}/" target="_blank">
          {{ partial "icons/linkedin.html" . }}
        </a>
			</li>
		</ul>
	</nav>
</header>
