<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" }}

  <body>
    <div class="container home">
      {{ partial "navbar.html" . }}

      {{ range.Site.Pages.ByDate.Reverse }}
      {{ if ne .Title "Posts" }}
      {{ if ne .Title .Site.Title }}
      <article>
        <h3 class="post-title">
          <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </h3>
        {{ partial "post-meta.html" . }}
        <p>{{ .Summary }}</p>
        <a class="tag" href="{{ .Permalink }}">Read more...</a>
      </article>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
